# SPDX-License-Identifier: GPL-2.0-only
config QTI_TZ_LOG
        tristate "QTI Trust Zone (TZ) Log Driver"
        depends on DEBUG_FS
        help
          This option enables a driver with a debugfs interface for messages
          produced by the Secure code (Trust zone). These messages provide
          diagnostic information about TZ operation.

config QCOM_SCM
	tristate "QCOM Secure Channel Manager (SCM)"
	help
	  To enable Secure Channel Mananger(SCM) support. Qualcomm processors 
	  provides an interface to communicate with the secure firmware. This 
	  interface allows for clients to request different types of actions, 
	  including the CPU power up/down, HDCP requests, firmware loading, 
	  and other assorted actions.

config QCOM_SCM_HAB
	tristate "To enable QCOM SCM HAB for QCPE-TZ virtualization"
	depends on QCOM_SCM && MSM_HAB
	help
	  QCOM SCM HAB serves the scm with HAB channel with Secure Channel
	  Mananger(SCM) support for SoC in virtualized Linux,
	  where SCM backend is QCPE (QCOM Protected environment). The SCM
	  channel will use QCOM HAB interface for front-end to back-end
	  communication.

config QTEE_SHM_BRIDGE
	tristate "QTI TEE shared memory bridge"
	depends on QCOM_SCM
	default y if QCOM_SCM
	help
	  QTEE shared memory bridge driver provides kernel APIs to share
	  memory between trustzone & other VMs through shared memory bridge.
	  It allows kernel clients to create bridge, delete bridge, and do
	  memory sub-allocation and free from the default kernel bridge
	  created by bridge driver.
